.header {
    padding: 25px 0;
    text-align: center;
    background: rgb(99, 47, 109);
  }
  .header  {
    width: 1400px;
    height: 150px;
  }

  p1 {
   font-size: x-large;
   font-weight: 400;
   color: white;
  }

  .header img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
  }

  .topleft {
    position: absolute;
    top: 8px;
    left: 100px;
  }